[color]
    ui = auto
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
    editor = vim
[push]
    default = upstream
[merge]
    conflictstyle = diff3
    tool = vimdiff
[mergetool]
    prompt = false
[user]
    name = Carlos A. Gómez Urda
    email = carlosurda@yahoo.es
[branch]
    autosetuprebase = always
[credential]
    helper = cache
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    l = log --pretty=oneline --graph --abbrev-commit --stat --decorate --all
    sb = show-branch --all --sha1-name
    b = branch -v -a
    s = status -s
