[color]
        ui = auto
        status = auto
        branch = auto
        interactive = auto
        diff = auto
[core]
        editor = vim
        autocrlf = false
        eol = lf
[push]
        default = upstream
[merge]
        conflictstyle = diff3
        tool = vimdiff
[mergetool]
        prompt = false
[user]
        name = Carlos A. Gómez Urda
        email = carlosurda@yahoo.es
[branch]
        autosetuprebase = always
[credential]
        helper = cache
[diff]
        tool = vimdiff
        renames = copies
        mnemonicPrefix = true
[difftool]
        prompt = false
[alias]
        d = difftool
        l = log --oneline --graph --stat --decorate --all
        ls = log --oneline --graph --decorate --all --shortstat
        lf = log --all --graph --stat --relative-date --decorate --abbrev-commit -p
        sb = show-branch --all --sha1-name
        b = branch -v -a
        s = status -sb
        ch = checkout
[help]
        autocorrect = 10
