* {
  font-family: "FontAwesome";
  font-size: 10pt;
}

window#waybar {
  background: #2f343f;
  color: #ffffff;
  border-bottom: 1px solid #1c1f26;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 1px;
  background: transparent;
  color: #cccccc;
}

#workspaces button.focused {
  background: #5294e2;
  color: #ffffff;
  border-radius: 3px;
}

#custom-menu,
#custom-launcher_firefox,
#custom-launcher_terminal,
#custom-launcher_files,
#pulseaudio,
#network,
#battery,
#clock,
#tray,
#wlr-taskbar {
  padding: 0 8px;
  /*min-width: 0;
  max-width: 45%;*/      
}

#custom-menu:hover,
#custom-launcher_firefox:hover,
#custom-launcher_terminal:hover,
#custom-launcher_tutanota:hover,
#custom-launcher_telegram:hover,
#custom-launcher_files:hover {
  background: #000000;
  /*background: rgba(255,255,255,0.13);*/
  color: #000000;
}

#wlr-taskbar button {
  padding: 0 6px;
  margin: 0 1px;
  background: transparent;
  color: #dddddd;
  /*min-width: 0;*/
}

#wlr-taskbar button.focused {
  background: #5294e2;
  color: #ffffff;
  border-radius: 3px;
}

#wlr-taskbar button label {
    /*max-width: 120px; 
    text-overflow: ellipsis;
    overflow: hidden;*/
}
